:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --primary-color: #fbfbfb;
    --secondary-color: #222222;
    --accent-color-1: orangered;
    --accent-color-2: #c9ad03;
    --accent-color-3: #d4e3ea;
    --accent-color-4: #fdc2c8;
    --accent-color-5: #fcaa18;
    --text-color: hsl(16, 100%, 10%);

    --spacing-unit: clamp(3rem, 5vw, 5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
body{
    margin: 0;
    color: var(--text-color);
    background-color: var(--ff-primary);
    font-family: var(--ff-primary);
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img{
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* Utility classes */
.section__heading{
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: clamp(2rem, 5vw, 4rem);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

header{
    background-color: black;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    height: 3rem;
}
.logo__container > a{ 
    color: whitesmoke;
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.nav__link{
    font-size: 1.2rem;
    color: whitesmoke;
}

.toggle__container{
    display: none;
}


@media (max-width: 50em){
    .nav__list{
        position: absolute;
        top: 3rem;
        right: 0;
        width: 0;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        transition: width 500ms, height 500ms;
        gap: 1rem;
        z-index: 1010;
    }
    .open-menu{
        display: block;
    }
    .toggle__container{
        display: block;
    }
    .toggle__icon {
        font-size: 1.5rem;
        color: var(--accent-color-1);
    }
    .nav__list.open-menu{
        width: 100%;
        min-height: 50vh;
        background-color: orangered;
    }
}

/* Hero */

.hero__section-container{
    min-height: calc(100vh - 3rem);
    margin-top: 3rem;
    background-color: var(--accent-color-3);
    padding-inline: 1rem;
}
.hero__content-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: calc(100vh - 3rem);
    gap: 2rem;
    margin: 0 auto;
}
.hero__title{
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: clamp(2rem, 5vw, 4rem);
    text-align: center;
}
.hero__title > span{
    color: var(--accent-color-1);
    font-family: var(--ff-secondary);
    z-index: 10;
}
.hero__subtitle{
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    max-width: 40ch;
    margin: 0 auto;
}
.hero__video-container{
    padding-inline: 1rem;
    z-index: 1200;
    margin-bottom: 5rem;
}
.hero__video-container_thumb{
    aspect-ratio: 3/2;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url('../media/video.jpg');
    background-size: cover;
    background-position: top center;;
    padding-inline: 2rem;
}
.divider__container.hero{
    margin-top: 0;
    z-index: -10;
}
/* clients */

.clients__container{
    text-align: center;
}
.client__content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: var(--spacing-unit);
}

.client__content-container > div > img {
    width: 30%;
}

/* mission */
.mission__section-container{
    max-width: 1000px;
    margin: 0 auto;
}
.mission__content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding-inline: 1rem;
    margin-bottom: var(--spacing-unit);
}

.mision__subtitle{
    font-size: clamp(1rem, 3vw, 1.2rem);
    margin-bottom: 1rem;
}
.mission__card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
}
.mission__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accent-color-3);
    padding: 1.5rem;
    border-radius: 15px;
}
.mission__card-text{
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}


/* work */
.work__container-section{
    max-width: 1000px;
    margin: 0 auto;
}

.work__content_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 1rem;
}
.work__card {
    flex: 1;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--accent-color-5);
    border-radius: 15px;
}
.work__card-image_container {
    display: grid;
    place-items: center;
}
.work__card-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.work__card-title{
    font-size: 1.5rem;
}
.work__card-text{
    font-size: 1.2rem;
}
.work__card-btn{
    background-color: var(--accent-color-3);
    padding: 0.5rem 1.2rem;
    width: fit-content;
    color: var(--text-color);
    border-radius: 25px;
}

/* testimonials */
.testimonial__section-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
.testimonial__heading-container{
    flex: 1;
}
.testimonial__container {
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 100%;
    background-color: transparent;
    margin: 0 auto;
    flex: 1;
}

.testimonial__container .contents-wrapper {
    width: 100%;
    min-height: inherit;
    margin: 2rem 0;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    overflow: hidden;
}

.contents-wrapper .testimonial__row{
    width: 100%;
    min-height: inherit;
    position: relative;
    overflow: hidden;
}
.testimonial__row .testimonial__item {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.testimonial__row .testimonial__item:not(.active){
    top: 0;
    left: -100%;
}

.testimonial__row .testimonial__item img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    outline: 2px solid var(--text-color);
}

.testimonial__row .testimonial__item h3 {
    font-size: 2rem;
    font-style: italic;
}

.testimonial__row .testimonial__item h4 {
    font-style: italic;
}

.testimonial__row .testimonial__item p {
   font-size: 1rem;
   letter-spacing: 0.04rem;
   line-height: 1.2; 
   max-width: 50ch;
}

.contents-wrapper .indicators {
    cursor: pointer;
    z-index: 1020;
    /* margin-top: -2rem;    */
}

.contents-wrapper .indicators .dot{
    width: 1rem;
    height: 1rem;
    margin: 0 .2rem;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.contents-wrapper .indicators .active {
    background-color: var(--accent-color-1);
}


@keyframes next1{
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes next2{
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

@keyframes prev1{
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

@keyframes prev2{
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

/* Call to Action */

.call-to-action__section-container{
    background-color: transparent;
}


@media(max-width: 550px) {
    .testimonial__container .contents-wrapper{
        width: 100%;
    }
    .testimonial__row .testimonial__item h3 {
        font-size: 2rem; 
    }
    .testimonial__row .testimonial__item p {
        font-size: 1rem;
        letter-spacing: initial;
        line-height: initial;
    }
}


<<<<<<< HEAD
/* Call to Action */

.call-to-action__section-container{
    background-color: var(--primary-color);
}

.call-to-action__content-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1rem;
    padding-block: 2rem;
}
.call-to-action__heading{
    font-size: clamp(3rem, 6vw, 6rem);
    line-height: clamp(3rem, 6vw, 6rem);
    margin-bottom: 2rem;
}
.call-to-action__button{
    background-color: var(--accent-color-1);
    border: none;
    padding: .5rem 1.25rem;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 25px;
}
.call-to-action__heading-container{
    flex: 2;
}
.call-to-action__image-container{
    flex: 1;
    display: flex;
}


=======
>>>>>>> parent of f120769 (Add Testimonial Call to action footer)
/* Contact */

.contact__container{
    color: black;
}
.contact__heading{
    font-size: 3rem;
}
.contact__content_container{
    width: 500px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    min-height: calc(100vh - 6rem);
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__input-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.send__btn{
    background-color: orangered;
    border: none;
    padding: .5rem 1.25rem;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
}

/* footer */

footer {
    background-color: var(--accent-color-4);
    min-height: 300px;
}
.footer__content_container{
    display: flex;
<<<<<<< HEAD
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1rem;
}
.footer__logo{
    font-size: clamp(2rem, 4vw, 4rem);
=======
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
>>>>>>> parent of f120769 (Add Testimonial Call to action footer)
}
.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer__socials_svg{
    width: 50px;
    color: whitesmoke;
    background-color: antiquewhite;
}
.footer__content_left{
    flex: 50%;
}
.footer__content_right{
    flex: 50%;
}
.footer__copyright{
<<<<<<< HEAD
    text-align: right;
}

@media (max-width: 550px) {
    .call-to-action__image-container{
        display: none;
    }
    .footer__content_container{
        align-items: center;
        justify-content: center;
    }
}

.divider__container{
    display: flex;
    margin: 5rem 0;
}
.divider__container.hero__divider{
    margin-block: 0 0;
}
.divider__container.footer__divider{
    margin-block: 5rem 0;
}

.divider__container > div {
    flex-basis: calc(100vw / 5);
    min-height: clamp(2rem, 10vh, 3rem); 
}

.color__1 {background-color: var(--accent-color-1); }
.color__2 {background-color: var(--accent-color-2); }
.color__3 {background-color: var(--accent-color-3); }
.color__4 {background-color: var(--accent-color-4); }
.color__5 {background-color: var(--accent-color-5); }
=======
    text-align: center;
}
>>>>>>> parent of f120769 (Add Testimonial Call to action footer)
